<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Screen always on</string>
			<key>Key</key>
			<string>idleTimerDisabled</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Temperature</string>
			<key>Key</key>
			<string>fahrenheit</string>
			<key>DefaultValue</key>
			<false/>
			<key>Titles</key>
			<array>
				<string>Celsius</string>
				<string>Fahrenheit</string>
			</array>
			<key>Values</key>
			<array>
				<false/>
				<true/>
			</array>
		</dict>
		<dict>
			<key>Title</key>
			<string>Notifications</string>
			<key>File</key>
			<string>Notifications</string>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Twitter logout</string>
			<key>Key</key>
			<string>twitterLogout</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Clear cache</string>
			<key>Key</key>
			<string>clearCache</string>
			<key>Type</key>
			<string>IASKButtonSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Map</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Map Engine</string>
			<key>Key</key>
			<string>mapEngine</string>
			<key>DefaultValue</key>
			<string>appleMaps</string>
			<key>Titles</key>
			<array>
				<string>Apple Maps</string>
				<string>Google Maps</string>
			</array>
			<key>Values</key>
			<array>
				<string>appleMaps</string>
				<string>googleMaps</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Map Type</string>
			<key>Key</key>
			<string>mapType</string>
			<key>DefaultValue</key>
			<string>standard</string>
			<key>Titles</key>
			<array>
				<string>Standard</string>
				<string>Satellite</string>
				<string>Hybrid</string>
			</array>
			<key>Values</key>
			<array>
				<string>standard</string>
				<string>satellite</string>
				<string>hybrid</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Navigation</string>
			<key>Key</key>
			<string>navigation</string>
			<key>DefaultValue</key>
			<integer>-1</integer>
			<key>Titles</key>
			<array>
				<string>Apple Maps</string>
				<string>Google Maps</string>
				<string>Citymapper</string>
				<string>Navigon</string>
				<string>Transit App</string>
				<string>Waze</string>
				<string>Yandex</string>
			</array>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>2</integer>
				<integer>1</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Compass</string>
			<key>Key</key>
			<string>showsCompass</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Scale</string>
			<key>Key</key>
			<string>showsScale</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Points of interest</string>
			<key>Key</key>
			<string>showsPointsOfInterest</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Buildings</string>
			<key>Key</key>
			<string>showsBuildings</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Clustering</string>
			<key>Key</key>
			<string>clustering</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Traffic</string>
			<key>Key</key>
			<string>showsTraffic</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>About us</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>contact@drunkcode.org</string>
			<key>IASKMailComposeBodyIsHTML</key>
			<string>NO</string>
			<key>IASKMailComposeSubject</key>
			<string>MADBike</string>
			<key>IASKMailComposeToRecipents</key>
			<array>
				<string>contact@drunkcode.org</string>
			</array>
			<key>Title</key>
			<string>Contact us</string>
			<key>Type</key>
			<string>IASKMailComposeSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>900505463</string>
			<key>File</key>
			<string>tel:900505463</string>
			<key>Title</key>
			<string>Call BiciMAD</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>010</string>
			<key>File</key>
			<string>tel:010</string>
			<key>Title</key>
			<string>Call Madrid Line</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>112</string>
			<key>File</key>
			<string>tel:112</string>
			<key>Title</key>
			<string>Emergency call</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>mambiente.munimadrid.es</string>
			<key>File</key>
			<string>http://www.mambiente.munimadrid.es/sica/scripts/index.php?menu=servicios&amp;smenu=sms</string>
			<key>Title</key>
			<string>Air Quality free SMS alerts</string>
			<key>Type</key>
			<string>IASKOpenURLSpecifier</string>
		</dict>
	</array>
</dict>
</plist>
