<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>YOUR_KEY</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>MKDirectionsRequest</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.apple.maps.directionsrequest</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.optimizely</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YOUR_KEY</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>facebook</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YOUR_KEY</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>madbike</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>madbike</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>accountkit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YOUR_KEY</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>twitterkit</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>YOUR_KEY</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3.0.11.1</string>
	<key>CoreSpotlightContinuation</key>
	<true/>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>YOUR_KEY</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>socket_token</key>
					<string>YOUR_KEY</string>
				</dict>
				<key>KitName</key>
				<string>Optimizely</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>YOUR_KEY</string>
					<key>consumerSecret</key>
					<string>YOUR_KEY</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>SKSession</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>YOUR_KEY</string>
	<key>FacebookDisplayName</key>
	<string>MADBike</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>nextinit</string>
		<string>citymapper</string>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
		<string>fbapi</string>
		<string>fbauth</string>
		<string>fbauth2</string>
		<string>fb-messenger-api</string>
		<string>fbshareextension</string>
		<string>googlechromes</string>
		<string>madbike</string>
		<string>navigon</string>
		<string>tel</string>
		<string>transit</string>
		<string>twitter</string>
		<string>twitterauth</string>
		<string>waze</string>
		<string>yandexnavi</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array>
		<string>MKDirectionsModeBike</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>api.openweathermap.org</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>api.wunderground.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>rbdata.emtmadrid.es</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>NSCameraUsageDescription</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NSLocationWhenInUseUsageDescription</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>NSCameraUsageDescription</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NSPhotoLibraryUsageDescription</string>
	<key>NSSiriUsageDescription</key>
	<string>NSSiriUsageDescription</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
		<string>CSSearchableItemActionType</string>
		<string>CSQueryContinuationActionType</string>
	</array>
	<key>SmileWeather</key>
	<dict>
		<key>API_KEY_openweathermap</key>
		<string>YOUR_KEY</string>
	</dict>
	<key>TyphoonInitialAssemblies</key>
	<array>
		<string>BMApplicationAssembly</string>
		<string>BMServicesAssembly</string>
		<string>BMManagersAssembly</string>
		<string>BMViewControllersAssembly</string>
		<string>BMPresentersAssembly</string>
		<string>BMStoragesAssembly</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>Climacons.ttf</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_map</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Stations</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.drunkcode.MADBike.stations</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>NSUserActivityTypeBrowsingWeb</key>
				<string>madbike://stations</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_linked_camera</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Report</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.drunkcode.MADBike.report</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>NSUserActivityTypeBrowsingWeb</key>
				<string>madbike://report</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeSearch</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Search</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.drunkcode.MADBike.search</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>NSUserActivityTypeBrowsingWeb</key>
				<string>madbike://search</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_new_releases</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>News</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.drunkcode.MADBike.news</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>NSUserActivityTypeBrowsingWeb</key>
				<string>madbike://news</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>ic_wb_cloudy</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Air Quality</string>
			<key>UIApplicationShortcutItemType</key>
			<string>org.drunkcode.MADBike.quality</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>NSUserActivityTypeBrowsingWeb</key>
				<string>madbike://quality</string>
			</dict>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>branch_app_domain</key>
	<string>madbike.app.link</string>
	<key>branch_key</key>
	<dict>
		<key>live</key>
		<string>YOUR_KEY</string>
		<key>test</key>
		<string>YOUR_KEY</string>
	</dict>
</dict>
</plist>
