<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:bnc.lt</string>
		<string>applinks:madbike.app.link</string>
		<string>applinks:madbike-alternate.app.link</string>
		<string>applinks:madbike.test-app.link</string>
		<string>applinks:madbike-alternate.test-app.link</string>
		<string>applinks:go.drunkcode.org</string>
		<string>applinks:go.drunkcode.es</string>
		<string>applinks:www.drunkcode.org</string>
		<string>applinks:www.drunkcode.es</string>
		<string>applinks:drunkcode.org</string>
		<string>applinks:drunkcode.es</string>
		<string>applinks:go.madbikeapp.com</string>
		<string>applinks:go.madbikeapp.es</string>
		<string>applinks:go.madbikeapp.org</string>
		<string>applinks:go.madbikeapp.net</string>
		<string>applinks:go.madbikeapp.info</string>
		<string>applinks:www.madbikeapp.com</string>
		<string>applinks:www.madbikeapp.es</string>
		<string>applinks:www.madbikeapp.org</string>
		<string>applinks:www.madbikeapp.net</string>
		<string>applinks:www.madbikeapp.info</string>
		<string>applinks:madbikeapp.com</string>
		<string>applinks:madbikeapp.es</string>
		<string>applinks:madbikeapp.org</string>
		<string>applinks:madbikeapp.net</string>
		<string>applinks:madbikeapp.info</string>
		<string>activitycontinuation:bnc.lt</string>
		<string>activitycontinuation:madbike.app.link</string>
		<string>activitycontinuation:madbike-alternate.app.link</string>
		<string>activitycontinuation:madbike.test-app.link</string>
		<string>activitycontinuation:madbike-alternate.test-app.link</string>
		<string>activitycontinuation:go.drunkcode.org</string>
		<string>activitycontinuation:go.drunkcode.es</string>
		<string>activitycontinuation:www.drunkcode.org</string>
		<string>activitycontinuation:www.drunkcode.es</string>
		<string>activitycontinuation:drunkcode.org</string>
		<string>activitycontinuation:drunkcode.es</string>
		<string>activitycontinuation:go.madbikeapp.com</string>
		<string>activitycontinuation:go.madbikeapp.es</string>
		<string>activitycontinuation:go.madbikeapp.org</string>
		<string>activitycontinuation:go.madbikeapp.net</string>
		<string>activitycontinuation:go.madbikeapp.info</string>
		<string>activitycontinuation:www.madbikeapp.com</string>
		<string>activitycontinuation:www.madbikeapp.es</string>
		<string>activitycontinuation:www.madbikeapp.org</string>
		<string>activitycontinuation:www.madbikeapp.net</string>
		<string>activitycontinuation:www.madbikeapp.info</string>
		<string>activitycontinuation:madbikeapp.com</string>
		<string>activitycontinuation:madbikeapp.es</string>
		<string>activitycontinuation:madbikeapp.org</string>
		<string>activitycontinuation:madbikeapp.net</string>
		<string>activitycontinuation:madbikeapp.info</string>
		<string>webcredentials:bnc.lt</string>
		<string>webcredentials:madbike.app.link</string>
		<string>webcredentials:madbike-alternate.app.link</string>
		<string>webcredentials:madbike.test-app.link</string>
		<string>webcredentials:madbike-alternate.test-app.link</string>
		<string>webcredentials:go.drunkcode.org</string>
		<string>webcredentials:go.drunkcode.es</string>
		<string>webcredentials:www.drunkcode.org</string>
		<string>webcredentials:www.drunkcode.es</string>
		<string>webcredentials:drunkcode.org</string>
		<string>webcredentials:drunkcode.es</string>
		<string>webcredentials:go.madbikeapp.com</string>
		<string>webcredentials:go.madbikeapp.es</string>
		<string>webcredentials:go.madbikeapp.org</string>
		<string>webcredentials:go.madbikeapp.net</string>
		<string>webcredentials:go.madbikeapp.info</string>
		<string>webcredentials:www.madbikeapp.com</string>
		<string>webcredentials:www.madbikeapp.es</string>
		<string>webcredentials:www.madbikeapp.org</string>
		<string>webcredentials:www.madbikeapp.net</string>
		<string>webcredentials:www.madbikeapp.info</string>
		<string>webcredentials:madbikeapp.com</string>
		<string>webcredentials:madbikeapp.es</string>
		<string>webcredentials:madbikeapp.org</string>
		<string>webcredentials:madbikeapp.net</string>
		<string>webcredentials:madbikeapp.info</string>
	</array>
	<key>com.apple.developer.icloud-container-identifiers</key>
	<array/>
	<key>com.apple.developer.pass-type-identifiers</key>
	<array>
		<string>$(TeamIdentifierPrefix)*</string>
	</array>
	<key>com.apple.developer.siri</key>
	<true/>
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.org.drunkcode.MADBike</string>
	</array>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(CFBundleIdentifier)</string>
	</array>
</dict>
</plist>
